@import "tailwindcss";

@theme {
  --color-primary-light: #e4ecf8;
  --color-primary: #41608f;
  --color-primary-dark: #061c3e;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (max-width: 640px) {
  .container {
    padding-inline: 1rem;
  }
}

body {
  /*background: #222222;*/
  /*color: #fff;*/
  /*font-family: 'Manrope Variable', sans-serif;*/
}