---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Description from "../components/Description.astro";
import Features from "../components/Features.astro";
import Important from "../components/Important.astro";
---

<Layout>
	<main>
		<Hero />
		<Description />
		<Features />
		<Important />
	</main>
</Layout>
