<section class="relative">
	<div class="container pt-20 pb-20">
		<!--bg-linear-65-->
		<div class="rounded-[1.5rem] p-[2px] bg-linear-45 from-blue-300 to-pink-300">
			<div class="rounded-[calc(1.5rem-2px)] md:p-8 p-4 bg-white flex flex-col gap-7">
				<div class="text-4xl">How does it work?</div>
				<div class="font-light opacity-70">
					Delayed Auditory Feedback (DAF) technology is based on changing auditory feedback during speech. When a person speaks, they hear their own voice with a slight delay (usually between 50 and 200 milliseconds, selected individually). This change disrupts the habitual automaticity of speech and forces the brain to control the speaking process more consciously.
					<br />
					For many people who stutter, this effect leads to a temporary reduction in the number of stutters, prolongations, and blocks. Speech becomes more fluid, slower, and more rhythmic. It is important to note that DAF does not “cure” stuttering, but creates conditions in which it is easier for a person to control their speech and reinforce new speaking skills.
				</div>
			</div>
		</div>
	</div>
</section>