<section class="relative">
	<div class="container pt-20 pb-20">
		<div class="md:p-8 p-4 flex flex-col gap-7 rounded-3xl
		bg-gradient-to-bl from-[#f97316] via-[#dc2626] to-[#be123c] text-white">
				<div class="text-4xl">Important</div>
				<div class="font-light opacity-70">
					This app does not replace professional speech therapy. For best results, consider working with a speech therapist.
					<br />
					I provide speech therapy services for adults and work with stuttering and other speech disorders, such as sound production, aphasia, and other speech disorders.
				</div>
		</div>
	</div>
</section>